<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">

    <title>My Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- Header -->
<header>
    <div class="header-left-container">
        <a href="/home" class="logo">
            <span class="doto-logo">Feedback Monitor</span>
        </a>
    </div>
    <nav class="header-center-container">
        <a href="/feedback" class="nav">📩 You have new feedback from your customers!</a>
    </nav>
    <div class="header-right-container">
        <div class="user-actions">
            <a href="/logout" class="btn">Logout</a>
            <a href="/mypage" class="btn">My Page</a>
        </div>
    </div>
</header>

<main>
    <div class="main-container">
        <div class="image-container">
            <a href="/mypage/settings">
                <img class="myPage-bg" src="/images/account.jpg" alt="Account">
                <div class="overlay">Account</div>
            </a>
        </div>
        <div class="image-container">
            <a href="/mypage/keywords">
                <img class="myPage-bg" src="/images/keywords.jpg" alt="Keywords">
                <div class="overlay">Keywords</div>
            </a>
        </div>
        <div class="image-container">
            <a href="/mypage/savedFeedbacks">
                <img class="myPage-bg" src="/images/saved-feedbacks.jpg" alt="Saved Feedbacks">
                <div class="overlay">Saved Feedbacks</div>
            </a>
        </div>
    </div>
</main>


<!-- Footer -->
<footer>
    <div class="footer-container">
        <p>&copy; 2024 Feedback Monitor. All Rights Reserved.</p>
    </div>
</footer>
</body>

</html>
