<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">

    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- Header -->
<header>
    <div class="header-left-container">
        <a href="/home" class="logo">
            <span class="doto-logo">Feedback Monitor</span>
        </a>
    </div>
    <nav class="header-center-container">
        <a href="/feedback" class="nav">📩 You have new feedback from your customers!</a>
    </nav>
    <div class="header-right-container">
        <div class="user-actions">
            <a href="/login" class="btn">Login</a>
            <a href="/about" class="btn">About Us</a>
            <a href="/mypage" class="btn">My Page</a>
        </div>
    </div>
</header>

<main>
    <div class="main-container">
        <div class="image-container">
            <a href="/about">
                <img class="myPage-bg" src="/images/aboutUs.jpg" alt="aboutUs">
                <div class="overlay">About Us</div>
            </a>
        </div>
        <div class="Greeting">
            <p>Welcome.</p>
            <p>Your one-stop solution to track and manage all your brand-related feedback effortlessly.</p>
            <p>Stay informed, stay ahead – monitor customer opinions across multiple platforms in real-time.</p>
        </div>

    </div>
</main>


<!-- Footer -->
<footer>
    <div class="footer-container">
        <p>&copy; 2024 Feedback Monitor. All Rights Reserved.</p>
    </div>
</footer>
</body>

</html>
