<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">

    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- Header -->
<header>
    <div class="header-left-container">
        <a href="/home" class="logo">
            <span class="doto-logo">Feedback Monitor</span>
        </a>
    </div>
    <nav class="header-center-container">
        <a href="/feedback" class="nav">📩 You have new feedback from your customers!</a>
    </nav>
    <div class="header-right-container">
        <div class="user-actions">
            <a href="/login" class="btn">Login</a>
            <a href="/about" class="btn">About Us</a>
            <a href="/mypage" class="btn">My Page</a>
        </div>
    </div>
</header>

<main style="display: flex; justify-content: center; align-items: center; height: 80vh; text-align: center;">
    <div class="main-container">
        <div class="Greeting">
            <p>We're sorry.</p>
            <p>Page under construction.... ⊹ ࣪ ﹏𓊝﹏𓂁﹏⊹ ࣪ ˖ </p>
            <p>Coming Soon!</p>
        </div>
    </div>
</main>
</body>

</html>
